<div class="app-intro">
    <div class="app-intro-content">
        <div class="app-page-header">
            <div class="app-page-title">
                <h1 class="app-page-headline">Herzlich willkommen in unserer vollstationären
Pflegeeinrichtung!</h1>
            </div>
        </div>
            <p>Das Pauline-Fischer-Haus möchte aufgrund seiner diakonischen Grundlage dem christlichen Menschenbild entsprechen und den Bewohnerinnen und Bewohnern bis ins hohe Lebensalter ein individuelles und selbstständiges Leben ermöglichen.</p>

            <p>Sehr geehrte Interessentinnen und Interessenten, mit den aufgeführten Informationen möchten wir Ihnen einen Überblick über die Bereiche und Leistungen im Pauline-Fischer-Haus geben.</p>
	</div>
</div>