<div class="app-card card-quick">
  <div class="app-card-main">
    <div class="app-subcards">

      <!-- Card 01 -->
      <div class="app-subcard subcard-tl">
        <a href="{{ page.base_url }}download">
          {% include logos/logo-download.html %}
            <div class="app-subcard-title">
              Download
            </div>
        </a>       
      </div>

     <!-- Card 02 -->
      <div class="app-subcard subcard-tr">
        <a href="{{ page.base_url }}diako/ausbildung">  
          {% include logos/logo-education.html %}
            <div class="app-subcard-title">
              Ausbildung
            </div>
        </a>
      </div>

      <!-- Card 03 -->
      <div class="app-subcard subcard-br">
        <a href="{{ page.base_url }}diako/stellenangebote">
          {% include logos/logo-employee.html %}
            <div class="app-subcard-title">
              Stellenangebote
            </div>
        </a>
      </div>

      <!-- Card 04 -->
      <div class="app-subcard subcard-bl">
        <a href="{{ page.base_url }}news">
          {% include logos/logo-news.html %}
            <div class="app-subcard-title">
              Nachrichten
            </div>
        </a>  
      </div>

    </div>
  </div>
</div>